.page {
    height: 92%;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background-color: var(--primary-color);
}

.user-container {
    height: 15%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    border-bottom: 1px solid var(--border-color);
}

.list-container {
    height: 80%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    border-bottom: 1px solid var(--border-color);
}

.users-chose {
    height: 35%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

}

.users-correct {
    height: 35%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

}

.user-input {
    height: 50%;
    width: 30%;
    padding: 0%;
    margin-top: 0.5%;
}

.users-input {
    height: 70%;
    width: 15%;
    padding: 0%;
    margin-top: 0.5%;
    align-items: center;
}

.user-date {
    height: 50%;
    width: 15%;
    padding: 0%;
    margin-left: 3%;
    margin-top: 1%;
}

.user-subscribe {
    height: 50%;
    width: 20%;
    font-size: 80%;
    padding: 0%;
}

.user-block-container {
    height: 50%;
    width: 15%;
}

.user-block {
    height: 50%;
    width: 40%;
    padding: 0%;
}

.user-status {
    height: 30%;
    width: 100%;
    margin-left: 5%;
}

.user-button {
    background-color: var(--border-color);
    font-size: 100%;
    width: 20%;
    height: 50%;
    margin-bottom: 1%;
    color: white;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border: 1px solid var(--light-test-color);
    transition-duration: 0.4s;
}

.user-button:hover {
    background-color: var(--dark-test-color);
}
.user-button:active {
    background-color: var(--blue-color);
}

.users-button {
    background-color: var(--border-color);
    font-size: 100%;
    width: 15%;
    height: 70%;
    color: white;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border: 1px solid var(--light-test-color);
    transition-duration: 0.4s;
    align-items: center;
}

.users-button:hover {
    background-color: var(--dark-test-color);
}
.users-button:active {
    background-color: var(--blue-color);
}

.user-button-disabled {
    background-color: var(--heder-color);
    font-size: 100%;
    width: 50%;
    height: 100%;
    color: var(--border-color);
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border: 1px solid var(--border-color);
    transition-duration: 0.4s;
}

.table-container {
    height: 80%;
    width: 100%;
    display: flex;
    align-items: flex-start;
    background-color: var(--primary-color);
    overflow: auto;
    flex-direction: column;
}


.table-row {
    width: 100%;
    cursor: pointer;
    color: var(--light-test-color);
    display: flex;
    flex-direction: column;
    padding: 1% 0;
}
.table-row:nth-child(even) {
    background-color: var(--heder-color);
}
.table-row:nth-child(odd) {
    background-color: var(--primary-color);
}

.row-item-full, .row-item-email, .row-item-status, .row-item-date , .row-item-amount {
    padding-left: 5%;
}

.row-item {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.pagination-container {
    height: 5%;
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


.date-inputs-container {
    height: 10%;
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 3%;
    margin-left: 5%;
}

.date-input-container {
    width: 45%;
}

.status-message {
    height: 5%;
    width: 90%;
}

.date-input {
    width: 100%;
    height: 30%;
    background-color: var(--border-color);
    color: var(--light-test-color);
    padding: 1%;
    border: none;
    border-radius: 1%;
    font-size: 100%;
}

@media (max-aspect-ratio: 1/1) {

    .page {
        height: 92.5%;
        width: 100%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        background-color: var(--primary-color);
    }

    .date-inputs-container {
        height: 15%;
        width: 90%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-top: 12%;
        margin-left: 5%;
    }

    .table-container {
        height: 80%;
        width: 100%;
        display: flex;
        justify-content: center;
        background-color: var(--heder-color);
        overflow: auto;
        font-size: 75%;
        margin-top: 5%;
    }
}