.map-blocks-container {
    display: flex;
    flex-direction: column;
    height: 41.9%;
    width: 100%;
    border-bottom: 1px solid var(--border-color);
}

.map-info-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 7%;
    width: 100%;
    border-bottom: 1px solid var(--border-color);
    background-color: var(--primary-color);
    font-size: 80%;
    color: var(--dark-test-color);
}

.info-text-0 {
    height: 90%;
    width: 20%;
}

.info-text-1 {
    height: 90%;
    width: 26%;
}
.info-text-2 {
    height: 90%;
    width: 28%;
}

.info-text-3 {
    height: 90%;
    width: 26%;
}

.info-text-0, .info-text-1, .info-text-2, .info-text-3 {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 2%;
    padding-right: 2%;
    box-sizing: border-box;
    word-wrap: break-word;
    overflow-wrap: break-word;
    text-align: center;
}

.filler-container {
    flex-grow: 1;
    background-color: var(--primary-color);
    height: 31vh;
    display: flex;
}

.page {
    height: 92%;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.container-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0,0,0,0.5);
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

@media (max-aspect-ratio: 1/1) {

    .page {
        height: 92.5%;
        width: 100%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;

    }

    .team-selection-container {
        background-color: var(--primary-color);
        border-bottom: 1px solid var(--border-color);
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        box-sizing: border-box;
        height: 10%;
    }

    .map-info-container {
        display: flex;
        flex-direction: row;
        height: 10%;
        width: 100%;
        font-size: 60%;
        border-bottom: 1px solid var(--border-color);
    }

    .map-blocks-container {
        display: flex;
        flex-direction: column;
        height: 34%;
        width: 100%;
        border-bottom: 1px solid var(--border-color);
    }

    .filler-container {
        flex-grow: 1;
        background-color: var(--primary-color);
        height: 42%;
        display: flex;
        flex-direction: column;
    }

}