
.bettings-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 65%;

}

.bet-info-container {
    display: flex;
    flex-direction: row;
    height: 15%;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.bet-info {
    display: flex;
    font-size: 70%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 50%;
    width: 100%;
    border-right: 1px solid var(--heder-color);
    box-sizing: border-box;
    word-wrap: break-word;
    overflow-wrap: break-word;
    padding-left: 5%;
    padding-right: 5%;
    text-align: center;
    color: var(--dark-test-color);
}

.bet-maps-container {
    display: flex;
    flex-direction: row;
    height: 6%;
    width: 100%;
    justify-content: center;
    align-items: center;
    border-top: 1px solid var(--heder-color);
}

.bet-maps {
    display: flex;
    font-size: 50%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 31%;

}

.bet-map {
    display: flex;
    font-size: 50%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 23%;

}

@media (max-aspect-ratio: 1/1) {
    .bet-info-container {
        display: flex;
        flex-direction: row;
        height: 24%;
        width: 100%;
        justify-content: center;
        align-items: center;
        font-size: 80%;
    }

    .bettings-container {
        display: flex;
        flex-direction: column;
        height: 50%;
        width: 100%;
    }

    .bet-maps-container {
        display: flex;
        flex-direction: row;
        height: 7%;
        width: 100%;
        justify-content: center;
        align-items: center;
        border-top: 1px solid var(--heder-color);
    }
}