.crypto-modal {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 100;
}

.crypto-modal-content {
    width: 20%;
    height: 40%;
    background-color: var(--heder-color);
    padding: 2%;
    border: 1px solid var(--dark-test-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.crypto-title {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 100%;
    height: 10%;
    padding: 0;
    box-sizing: border-box;
}

.crypto-text {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    font-size: 80%;
    margin-top: 3%;
    width: 100%;
    height: 10%;
    padding: 0;
    box-sizing: border-box;
}

.crypto-address {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    color: var(--light-test-color);
    font-size: 70%;
    width: 100%;
    height: 5%;
    padding: 0;
    box-sizing: border-box;
}

.payment-metod {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 100%;
    height: 15%;
    padding: 0;
    margin-top: 5%;
    box-sizing: border-box;
}

.payment-buttons {
    width: 100%;
    height: 10%;
    display: flex;
    flex-direction: row;
}

.submit-button {
    background-color: var(--dark-test-color);
    font-size: 100%;
    width: 100%;
    height: 100%;
    color: white;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border: 1px solid var(--light-test-color);
    transition-duration: 0.4s;
}

.submit-button:hover {
    background-color: var(--mid-test-color);
}

.submit-button:active{
    background-color: var(--mid-test-color);
}



.payment-status {
    font-size: 75%;
    width: 90%;
    height: 20%;
}


.transparentButton {
    width: 25%;
    height: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: transparent;
    background-position: center;
    border: none;
    transition: opacity 0.3s ease;
    opacity: 0.75;
}

.transparentButton:hover {
    opacity: 1;
}

.activePayment {
    border: 1px solid var(--light-test-color);
    opacity: 1;
}

@media (max-aspect-ratio: 1/1) {

    .crypto-modal-content {
        width: 70%;
        height: 40%;
        background-color: var(--heder-color);
        padding: 2%;
        border: 1px solid var(--dark-test-color);
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .payment-info,
    .payment-title {
        font-size: 80%;
        width: 100%;
        height: 10%;
    }

    .crypto-text {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        font-size: 60%;
        margin-top: 3%;
        width: 100%;
        height: 10%;
        padding: 0;
        box-sizing: border-box;
    }

    .payment-metod {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        width: 100%;
        height: 15%;
        padding: 0;
        margin-top: 5%;
        box-sizing: border-box;
    }

    .crypto-title {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        font-size: 80%;
        width: 100%;
        height: 10%;
        padding: 0;
        box-sizing: border-box;
    }

    .crypto-address {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        font-size: 50%;
        width: 100%;
        height: 5%;
        padding: 0;
        box-sizing: border-box;
    }

    .payment-status {
        font-size: 75%;
        width: 90%;
        height: 15%;
    }
}

