.container-reference {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: var(--primary-color);
}


.submit-button {
    background-color: var(--dark-test-color);
    font-size: 100%;
    width: 70%;
    height: 40%;
    color: white;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border: 1px solid var(--light-test-color);
    transition-duration: 0.4s;
    margin-top: 5%;
    margin-bottom: 5%;
}

.submit-button:hover {
    background-color: var(--mid-test-color);
}

.submit-button:active{
    background-color: var(--mid-test-color);
}

.text {
    display: flex;
    flex-direction: column;
    width: 70%;
    height: 10%;
    margin-top: 5%;
}

@media (max-aspect-ratio: 1/1) {

    .text {
        font-size: 80%;
    }

    .submit-button {
        height: 20%;
    }

}
