.subscription-modal {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 100;
}

.subscription-modal-content {
    width: 20%;
    height: 40%;
    background-color: var(--heder-color);
    padding: 2%;
    border: 1px solid var(--dark-test-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.payment-info,
.payment-title {
    width: 100%;
    height: 10%;
}

.payment-metod {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 100%;
    height: 25%;
    padding: 0;
    margin-top: 5%;
    box-sizing: border-box;
}


.transparentButton {
    width: 25%;
    height: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: transparent;
    background-position: center;
    border: none;
    transition: opacity 0.3s ease;
    opacity: 0.75;
}

.transparentButton:hover {
    opacity: 1;
}

.submit-button {
    background-color: var(--dark-test-color);
    font-size: 100%;
    width: 100%;
    height: 15%;
    color: white;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border: 1px solid var(--light-test-color);
    transition-duration: 0.4s;
    margin-top: 5%;
}

.submit-button:hover {
    background-color: var(--mid-test-color);
}

.submit-button:active{
    background-color: var(--mid-test-color);
}

.activePayment {
    border: 1px solid var(--light-test-color);
    opacity: 1;
}

.payment-text {
    font-size: 80%;
    width: 100%;
    height: 10%;
}

.payment-status {
    font-size: 75%;
    width: 90%;
    height: 25%;
}

@media (max-aspect-ratio: 1/1) {

    .subscription-modal-content {
        width: 60%;
        height: 35%;
        background-color: var(--heder-color);
        padding: 2%;
        border: 1px solid var(--dark-test-color);
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .payment-info,
    .payment-title {
        font-size: 80%;
        width: 100%;
        height: 10%;
    }

}

